[package]
name = "sqrrl"
version = "0.1.0"
authors = ["Alexander Mennborg <alexander.mennborg@gmail.com>"]
edition = "2018"
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
nom = "5"
nom_locate = "1"
termcolor = "1.0.5"
unicode-width = "0.1.5"
log = "0.4"
simple_logger = "1.4.0"

[dev-dependencies]
unit_test = { path = "./tools/unit_test" }
compile_test = { path = "./tools/compile_test" }